{% extends 'layout.html' %} {% block contents %}
<div class="post-detail">
  <!-- Assuming you have a post object passed to the template -->
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <!-- Display comments -->
  {% for comment in post.comments %}
  <div class="comment">
    <p>{{ comment.content }}</p>
    <small
      >Commented by {{ comment.author.name }} on {{
      comment.date_posted.strftime('%Y-%m-%d') }}</small
    >
  </div>
  {% endfor %}
  <!-- Add a new comment -->
  {% if current_user.is_authenticated %}
  <form action="{{ url_for('comment_post', post_id=post.id) }}" method="POST">
    {{ form.csrf_token }} {{ form.content }}
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
  {% endif %}
</div>
{% endblock %}
