<!---Register.html-->
{% extends 'layout.html' %} {% block contents %}
<div class="register">
  <h2>Register</h2>
  <form method="POST" action="{{ url_for('register') }}" class="register-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label(class="form-label") }} {{
      form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-label") }} {{
      form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-label") }} {{
      form.password(class="form-control") }}
    </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>
{% endblock %}
