/* styles.css */


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5; /* Light gray background for a calm feel */
    color: #333; /* Dark gray font color for better readability */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.custom-navbar {
    background-color: #1253a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
  
.navbar-brand {
    color: #fff;
    text-decoration: none;
}

.nav-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.search-form {
    display: flex;
}

.search-form input, .search-form button {
    padding: 0.5rem;
}

.search-form input {
    margin-right: 0.5rem;
}
  
  .navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: hsl(0, 10%, 6%);
    margin: 5px 0; /* Creates the hamburger icon */
  }
  
  /* For larger screens, display the nav items */
  @media (min-width: 768px) {
    .nav-items {
      display: block;
    }
  }
  /* General Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  /* Utility Classes */
  .mt-3 {
    margin-top: 1rem; /* Adjust the value as per your design */
  }
  
  .mt-auto {
    margin-top: auto;
  }
  
  .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .text-md-right {
    text-align: right;
  }
  
  /* Flash Messages */
  .alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  
  /* Adjust colors based on the category of the message */
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  /* Footer */
  .footer {
    background-color: hsl(216, 13%, 8%); /* Your desired background color */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .social-links {
    margin-bottom: 0;
    padding: 0;
  }
  
  .social-links a {
    color: white; /* Adjust if needed */
    margin: 0 10px;
    font-size: 24px; /* Adjust icon size as needed */
  }
  
  .social-links a:hover {
    color: #ddd; /* Adjust hover color as needed */
  }
  
  /* Ensuring the content doesn't overlap with the fixed footer */
  body {
    padding-bottom: 60px; /* Adjust this value based on your footer's height */
  }
  .login-to-post {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-to-post-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s
}

.form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    margin-bottom: .5rem;
  }
  
  .form-control {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  /*Card*/
  .posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between cards */
  }
  
  .post-card {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.333% - 20px); /* Three cards per row - adjust gap if needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .post-card h2 {
    margin-top: 0;
  }
  
  .read-more-btn, .add-post-btn, .login-to-add-post-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .read-more-btn:hover, .add-post-btn:hover, .login-to-add-post-btn:hover {
    background-color: #0056b3;
  }
  @media (max-width: 768px) {
    .post-card {
      width: 100%; /* Full width for smaller screens */
    }
  }
  
